.float-right {
	float: right;
}

.float-left {
	float: left;
}

.hidden {
	display: none;
}

.compare-canvas {
	height: 100px; 
	width: 100px; 
	background-color: #d5f4e6; 
	z-index: 0; 
	position: relative;
}

.compare-index {
	margin-left: 10px;
	padding-left: 10px;
	width: 100px;
}

.compare-block {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.compare-row {
}

.overlay {
	position: absolute; 
	top: 0px; 
	left: 0px; 
}

.pointer_cursor {
	cursor: pointer;
}

.conbox {
	float: left;
}

.link {
	stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}

#cluster-vis {
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.feature-item {
	font-size: 10px;
	padding: 5px 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #fff;
	border: 2px solid #004d00;
	border-radius: 10px;
}

.feature-unmapped-area .feature-item {
	margin-top: 10px;
	display: block;
}

.features-mapped {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #d5f4e6;
}

.feature-unmapped-area {
	background-color: #ffffcc;
	overflow: scroll;
	margin-bottom: 10px;
}