.intro-image .centered {
	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: rgb(254, 204, 75);
    padding: 5px;
    border-radius: 10px;
    /*box-shadow: 3px 3px 1px grey;*/
}

.intro-image {
    position: relative;
    text-align: center;
}

.answer-box textarea {
	margin-left: 20px !important;
}

.user-answer button {
	margin-top: 10px;
}

.clickable-element {
	cursor: pointer;
}

.add-btn {
	height: 100px;
}

.modal-dialog {
    /*margin-right: auto;*/
    margin-right: 1.75rem !important;
}

#data_table thead {
	max-width: 70px;
	word-break: break-all;
	font-size: 12px;
}

#face {
	margin-top: 15px;
	margin-bottom: 15px;
}

#todolist .card {
	padding: 5px 5px !important;
	font-size: 14px !important;
}

#todolist .card-header {
/*	padding: 5px 5px !important;
	font-size: 14px !important;*/
}

.page-title {
	margin-top: 20px;
}

.page-title a {
	margin-left: 20px;
}

.feature-row {
	margin-bottom: 10px;
}

.feature-row .feature-full-name {
	background-color: rgb(254, 204, 75);
	border-radius: 10px;
	width: 20%;
	padding: 10px;
	text-align: center;
	margin: auto;
}

.feature-row .feature-explain {
	width: 70%;
    margin: auto;
    text-align: left;
    /*padding-left: 20px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.tip {
	display:none; 
	z-index: 100;
	font-size: 12px;
	background-color: transparent;
}

.tip p {
	margin-top: 5px !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	background-color: #F0FFFF;
	border-radius: 10px;
	box-shadow: 2px 2px 1px grey;
}

.tip .face-label {
}

.tip .dataset-feature-label {
	color: #007bff;
}

.gone {
	opacity: 0.5;
}

.float-right {
	float: right;
}

.invisible {
	visibility: hidden;
}

.selected {
	background-color: #d5f4e6;
}

.float-left {
	float: left;
}

.hidden {
	display: none;
}

.compare-canvas {
	height: 126px; 
	width: 106px; 
	margin-bottom: 10px;
	/*background-color: #d5f4e6; */
	z-index: 0; 
	position: relative;
}

.selected-block .compare-canvas {
	background-color: #d5f4e6;
}

.compare-block .compare-canvas {
	border: 3px solid #d5f4e6;
}

.compare-index {
	margin-left: 10px;
	padding-left: 10px;
	width: 100px;
}

.compare-block {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.compare-row {
}

.overlay {
	position: absolute; 
	top: 0px; 
	left: 0px; 
}

.pointer-cursor {
	cursor: pointer;
}

.conbox {
	float: left;
}

.link {
	stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}

#cluster-vis {
/*	margin-left: 50px;
	margin-right: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	margin-top: 20px;
	/*padding-bottom: 20px;*/
}

#cluster-vis .row {
	margin-bottom: 20px;
}

.dataset-feature {
	border: 2px solid #004d00;
	border-radius: 10px;
	font-size: 10px;
	padding: 5px 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #fff;
}

.feature-unmapped-area .dataset-feature {
	margin-top: 10px;
	display: block;
}

.facial-feature {
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 10px;
	background-color: #d5f4e6;
}

.feature-unmapped-area {
	background-color: #ffffcc;
	overflow: scroll;
	margin-bottom: 10px;
}

.center-face-overlay {
	margin-top: 20px;
	height: 150px;
}

.cluster-canvas button {
	height: 30px;
}

.expand-area {
	overflow: scroll;
	height: 170px;
}

.stem-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

#controller table {
	border-collapse: collapse;
}

    th, td {
      padding: 8px;
      padding-bottom: 20px;
      text-align: left;
      /* border-bottom: 1px solid #ddd; */
    }
    
    /* .slidecontainer {
    width: 100%;
    } */

#controller table {
    border-collapse: collapse;
    width: 100%;
}

#controller td {
    text-align: left;
    /* padding: 8px; */
}

#controller th {
    text-align: center;
    padding: 8px;
}
    
#controller tr:nth-child(even) {background-color: #f2f2f2;}

#controller .slider {
  -webkit-appearance: none;
/*  min-width: 400px;*/
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#controller .slider: hover {
  opacity: 1;
}

#controller .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  /*background: url('/../images/circle-512.png');*/
  cursor: pointer;
}

#controller .slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  /*background: url('/../images/circle-512.png');*/
  cursor: pointer;
}

input[type="range"] {
  display: block;
  width: 100% !important;
}
/*.modal-dialog {
	max-width: 800px;
}*/

.fixed-right-bottom-parent {
	position: relative;
}

.fixed-right-bottom {
/*	position: fixed; 
	bottom: 50px; 
	right: 50px;*/
	position: absolute;
	top: 50%;
	left: 50%;
}