.hidden {
	display: none;
}

.compare-canvas {
	height: 100px; 
	width: 100px; 
	background-color: #d5f4e6; 
	z-index: 0; 
	position: relative;
}

.compare-index {
	margin-left: 10px;
	padding-left: 10px;
	width: 100px;
}

.compare-block {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.compare-row {
}

.add-btn {
	float: left;
}

.overlay {
	position: absolute; 
	top: 0px; 
	left: 0px; 
}

.pointer_cursor {
	cursor: pointer;
}

.conbox {
	float: left;
}

.link {
	stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}

#cluster-vis {
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}