{% extends "base.html" %}

{% block content %}
<div class="dropdown dropright">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        k = {{ k }}
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">k = 2</a>
        <a class="dropdown-item" href="#">k = 3</a>
        <a class="dropdown-item" href="#">k = 4</a>
        <a class="dropdown-item" href="#">k = 5</a>
        <a class="dropdown-item" href="#">k = 6</a>
        <a class="dropdown-item" href="#">k = 7</a>
        <a class="dropdown-item" href="#">k = 8</a>
        <a class="dropdown-item" href="#">k = 9</a>
    </div>
</div>
<div id="cluster-vis"></div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/chernoff.js') }}"></script>
<!-- <script src="{{ url_for('static', filename = 'js/chernoffface.js') }}"></script> -->
<!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
<script type="text/javascript">
    function readpara (para) {
        return para;
    }
    var k = readpara( {{ k }} );
    var json_cluster = readpara( {{ json_cluster | safe }} );
    var json_object = readpara( {{ json_data | tojson | safe }} );
    var json_dataset = JSON.parse(json_object).records;
    var dataset_face = readpara( {{ dataset_face | safe }});
    var getLocalData = localStorage.getItem('mappingRule');
    var json_mapping = JSON.parse(getLocalData);
    var datapoint_face = dataset_face[0];
    for (var i = 0; i < $('.dropdown-item').length; i++) {
        var k_value = $('.dropdown-item').eq(i).text().replace(/[^\d]/g, '');
        $('.dropdown-item').eq(i).attr('href','/cluster2?example=' + example + '&k=' + k_value);
    }

    var width = 1000;
    var height = 500;
    var border = 0.5;
    var bordercolor='grey';
    
    var svg = d3.select("#cluster-vis").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("border", border);
    
    var borderPath = svg.append("rect")
                    .attr("x", 0)
                    .attr("y", 0)
                    .attr("height", height)
                    .attr("width", width)
                    .style("stroke", bordercolor)
                    .style("fill", "none")
                    .style("stroke-width", border);

    var distance = [];

    // d3.json(json_cluster, function(error, json) {
    //     if (error) throw error;

    var json = json_cluster;
    console.log(json);

    var chernoff = d3.chernoff()
        .face(function(d) { dp = dataParse(d.data); return dp.f; })
        .hair(function(d) { dp = dataParse(d.data); return dp.h; })
        .mouth(function(d) { dp = dataParse(d.data); return dp.m; })
        .nosew(function(d) { dp = dataParse(d.data); return dp.nw; }) //exist
        .noseh(function(d) { dp = dataParse(d.data); return dp.nh; }) //exist
        .eyew(function(d) { dp = dataParse(d.data); return dp.ew; })
        .eyeh(function(d) { dp = dataParse(d.data); return dp.eh; })
        .brow(function(d) { dp = dataParse(d.data); return dp.b; })
        .eyeRadius(function(d) { dp = dataParse(d.data); return dp.er; }) //exist
        .browVertical(function(d) { dp = dataParse(d.data); return dp.bv; }) //exist
        .browSlant(function(d) { dp = dataParse(d.data); return dp.bs; }) //exist
        .browLength(function(d) { dp = dataParse(d.data); return dp.bl; }) //exist
        .mouthSize(function(d) { dp = dataParse(d.data); return dp.ms; }) //exist
        .mouthVertical(function(d) { dp = dataParse(d.data); return dp.mv; }) //exist
        .mouthCurve(function(d) { dp = dataParse(d.data); return dp.mc; }); //exist

    function dataParse(data) {
        console.log("---");
        console.log(data);
        var dp = {};
        var facial = "";
        for (key in data) {
            facial = json_mapping[key];
            if (facial != "0") {
                dp[facial] = data[key];
            }
        }
        return [dp];
    }

    var force = d3.layout.force()
        .gravity(0.2)
        .distance(function(d) { 
            // return d.target.distance*190+60;
            return d.target.distance * 50 + 50;
        })
        .charge(-140)
        .size([width, height]);

        force
            .nodes(json.nodes)
            .links(json.links)
            .start();

    var link = svg.selectAll(".link")
        .data(json.links)
        .enter().append("line")
        .attr("class", "link")
        .attr("id", function(d) { return d.group;});

    var node = svg.selectAll(".node")
        .data(json.nodes)
        .enter().append("g")
        // .attr("class", "node")
        .attr("id", function(d) {return d.name})
        .attr("class", function(d) {return d.group})
        // .append("svg")
        // .attr("width", 30)
        // .attr("height", 30)
        // .end()
        .call(force.drag);

    // node.append("image")
    // node.append("circle")
    //     .attr("r",15)
    //     .attr("fill","orange");

    node.append("svg")
        .attr("width", 40)
        .attr("height", 40)
        .attr("x", -20)
        .attr("y", -20)
        .selectAll(function(d) { return '#face' + d.name})
        .data(dataParse(function(d) {console.log(d.data); return d.data}))
        .enter().append("g")
        .attr("class", "chernoff")
        .attr("id", function(d) { console.log('face' + d.name); return 'face' + d.name})
        .call(chernoff);

    force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
        node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    });
    // });

</script>
<script src="{{ url_for('static', filename = 'js/mapping_rule.js') }}"></script>
{% endblock %}