{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="dropdown dropright">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            k = {{ k }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">k = 2</a>
            <a class="dropdown-item" href="#">k = 3</a>
            <a class="dropdown-item" href="#">k = 4</a>
            <a class="dropdown-item" href="#">k = 5</a>
            <a class="dropdown-item" href="#">k = 6</a>
            <a class="dropdown-item" href="#">k = 7</a>
            <a class="dropdown-item" href="#">k = 8</a>
            <a class="dropdown-item" href="#">k = 9</a>
        </div>
    </div>
    <!-- <button class="btn btn-outline-success btn-sm btn-expand">Expand</button> -->
</div>

<div class="row fixed-right-bottom-parent">
    <div class="col-9" id="cluster-vis" ></div>
    <div class="fixed-right-bottom">
        <div class="card border-light" id="step1">
            {% if example == '2' %}
            <p>Now all the field site data points are grouped into two emoji families by K-Means. Machine also clusters data by comparing similarity of data points and group similar data points together.</p>
            {% elif example == '1' %}
            <p>Now all the wine data points are grouped into two emoji families by K-Means clustering. Machine also clusters data by comparing similarity of data points and group similar data points together.</p>
            {% else %}
            <p>Now all the cases are grouped into two emoji families by K-Means clustering. Machine also clusters data by comparing similarity of data points and group similar data points together.</p>
            {% endif %}
            <p>The value of K means how many families do you want the machine to group the dataset into. Try out different values for the K.</p>
            <p>The best K value for this dataset is 4, which means that the emojis within a family are similar enough to each other and the center emojis of all the families are different enough from each other. Use k = 4 and click the Next button.</p>
        </div>
        <button type="button" class="btn btn-outline-success clickable-element" id="next-button">Next</button>
    </div>
    <!-- <button type="button" class="btn btn-outline-success clickable-element fixed-right-bottom" id="next-button">Next</button> -->
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename = 'js/chernoffface.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/center_face.js') }}"></script>
<script type="text/javascript">
    function readpara (para) {
        return para;
    }
    var k = readpara( {{ k }} );
    console.log('---');
    console.log(k);
    var json_cluster = readpara( {{ json_cluster | safe }} );
    console.log(json_cluster);
    var json_object = readpara( {{ json_data | tojson | safe }} );
    var json_dataset = JSON.parse(json_object).records;
    var dataset_face = readpara( {{ dataset_face | safe }});
    var getLocalData = localStorage.getItem('mappingRule');
    var json_mapping = JSON.parse(getLocalData);
    var datapoint_face = dataset_face[0];
    var center_face_list = {};
    var unmapped_list = [];
    for (key in json_mapping) {
        if (json_mapping[key] == '0') {
            unmapped_list.push(key);
        }
    }
    for (var i = 0; i < $('.dropdown-item').length; i++) {
        var k_value = $('.dropdown-item').eq(i).text().replace(/[^\d]/g, '');
        $('.dropdown-item').eq(i).attr('href','/cluster2?example=' + example + '&k=' + k_value + '&unmapped=' + unmapped_list);
    }

    // generate the overaly of clusters

    for ( var i = 0; i < k; i ++ ) {
        var cluster_box = $('<div class = "row row-cluster-' + i + '"><div class = "col-4 expand-area" id = "expand' + i + '"></div><div class = "col-3 cluster-canvas" style = "height: 170px;"><div class="compare-canvas" id = "cluster' + i + '" ></div></div><div class = "col-5" id = "cluster-question-box' + i + '"></div></div>');
        $('#cluster-vis').append(cluster_box);
    }

    for ( var j = (json_cluster['nodes'].length - 1); j > -1; j -- ) {
        var cluster_box_id = "#cluster" + json_cluster['nodes'][j]['group'];
        var datapoint_id = parseInt(json_cluster['nodes'][j]['name'].substr(2));
        var face_place = $('<span class = "overlay" id = "overlay' + datapoint_id + '" ></span>');
        $(cluster_box_id).append(face_place);
        datapoint_face = dataset_face[datapoint_id];
        d3.select("#overlay" + datapoint_id)
            .call(chernoffFace(1.5));
        if ($(cluster_box_id + ' span').length > 1) {
            $("#overlay" + datapoint_id).children('svg').attr('opacity', 0.4);
        }
    }

    //placeholders to add emojis to show each cluster
    for ( var j = 0; j < json_cluster["nodes"].length; j ++ ) {
        var datapoint_id = parseInt(json_cluster['nodes'][j]['name'].substr(2));
        var placeholder = $("<span id = 'data" + datapoint_id + "'></span>");
        var group_id = json_cluster['nodes'][j]['group'];
        $("#expand" + group_id).append(placeholder);
    }

    //to add emojis to show each cluster
    for (var i = 0; i < json_cluster["nodes"].length; i++) {
        var datapoint_id = parseInt(json_cluster['nodes'][i]['name'].substr(2));
        datapoint_face = dataset_face[datapoint_id];
        d3.select("#data" + datapoint_id)
            .call(chernoffFace(0.7));
        $("#data" + datapoint_id + ' svg').attr('id', "face" + datapoint_id);
        $("#data" + datapoint_id + ' svg').attr('class', 'hover-face');
    }

    var term = {
        '2': ['field sites', 'ecological'],
        '1': ['wines', 'chemical'],
        '3': ['cases', 'cell']
    };
    $('#next-button').click( function() {
        if (! $('#step1').hasClass('hidden')) {
            for (var i = 0; i < k; i++) {
                var new_step = $('<div class="card border-light answer-box" width = "100%"><form class="user-answer" id = "cluster-question-familay' + i + '"><label for="message-text" class="col-form-label card-body">What shared facial features does this emoji family have? What are the corresponding ' + term[example][1] +' features shared by the ' + term[example][0] +' in this family? Hover on the face elements to see their mapping features.</label><div class="row"><div class="col-8"><textarea class="form-control" id="user_input" rows="3" type="text" name="user_input"></textarea></div><div class="col-4"><button type="submit" class="btn btn-outline-success btn-sm" >Submit</button></div></div></form></div>');
                $('#cluster-question-box' + i).append(new_step);
            }    
            $(this).addClass('hidden');
            $('#step1').addClass('hidden');
        } else {
            for (var i = 0; i < k; i++) {
                $('#cluster-question-box' + i).addClass('hidden');
                $('#cluster' + i).trigger('click');
            }
            $('.cluster-canvas').removeClass('col-3');
            $('.cluster-canvas').addClass('col-4');
            var overlay_area = $('<div class = "col-4"><div class = "center-face-overlay"></div></div>');
            $('.row-cluster-0').append(overlay_area);
            var cluster_step4 = $('<div class="col-3 card border-light answer-box" width = "100%"><form class="user-answer" id = "cluster-question-center1"><label for="message-text" class="col-form-label card-body">Click the compare button to explore the differences between the center emojis. What are the differentiating facial features and dataset features between the first emoji family and the other families?</label><div class="row"><div class="col-8"><textarea class="form-control" id="user_input" rows="3" type="text" name="user_input"></textarea></div><div class="col-4"><button type="submit" class="btn btn-outline-success btn-sm" >Submit</button></div></div></form></div>');
            $(this).addClass('hidden');
            $('.fixed-right-bottom').append(cluster_step4);
        }
    });

    //for the q&a code
    if (example == '2') {
        var todolist = {
            'Step1': ['Now all the field site data points are grouped into two emoji families by K-Means Clustering Machine Learning method. Machine clusters data based on what you just did on the previous page - by comparing similarity of data points and group similar data points together.', 'As you can see, there are still a lot of variations within each emoji family, which is not good enough for us to find patterns within each emoji family.', 'Now, try to make k = 4.', 'What is the difference between grouping sites into 2 families and 4 families?'],
            'Step2': ['Explore the four emoji families of field sites.', 'What shared facial features does the first family have?', 'What ecological features do those faical features represent?', 'What is the type of field sites in the first family?'],
            'Step3': ['What shared facial features does the second family have?', 'What ecological features do those faical features represent?', 'What is the type of field sites are in the second family?'],
            'Step4': ['What shared facial features does the third family have?', 'What ecological features do those faical features represent?', 'What is the type of field sites in the third family?'],
            'Step5': ['What shared facial features does the forth family have?', 'What ecological features do those faical features represent?', 'What is the type of field sites in the forth family?'],
            'Step6': ['Click the combination emojis of each emoji family and you can see their average representation, center emoji.', 'Click the compare button to explore the differences between the first and the last emoji family.', 'What are the differentiating facial features and ecological features?'],
            'Step7': ['Click the compare button to explore the differences between emoji familes of field sites with medium level of species richness.', 'What are the differentiating facial features and ecological features?']
        };
    } else if (example == '3') {
         var todolist = {
            'Step1': ['Now all the cell data points are grouped into two emoji families by K-Means Clustering Machine Learning method. Machine clusters data based on what you just did on the previous page - by comparing similarity of data points and group similar data points together.', 'As you can see, there are still a lot of variations within each emoji family, which is not good enough for us to find patterns within each emoji family.', 'Now, try to make k = 4.', 'What is the difference between grouping cells into 2 families and 4 families?'],
            'Step2': ['Explore the four emoji families of cells.', 'What shared facial features does the first family have?', 'What digitized image features do those faical features represent?', 'What is the type of cells in the first family?'],
            'Step3': ['What shared facial features does the second family have?', 'What digitized image features do those faical features represent?', 'What is the type of cells are in the second family?'],
            'Step4': ['What shared facial features does the third family have?', 'What digitized image features do those faical features represent?', 'What is the type of cells in the third family?'],
            'Step5': ['What shared facial features does the forth family have?', 'What digitized image features do those faical features represent?', 'What is the type of cells in the forth family?'],
            'Step6': ['Click the combination emojis of each emoji family and you can see their average representation, center emoji.', 'Click the compare button to explore the differences between the first and the last emoji family.', 'What are the differentiating facial features and digitized image features?'],
            'Step7': ['Click the compare button to explore the differences between emoji familes of field cells with medium level of species richness.', 'What are the differentiating facial features and digitized image features?']
        };       
    } else {
        var todolist = {
            'Step1': ['Now all the wine data points are grouped into two emoji families by K-Means Clustering Machine Learning method. Machine clusters data based on what you just did on the previous page - by comparing similarity of data points and group similar data points together.', 'As you can see, there are still a lot of variations within each emoji family, which is not good enough for us to find patterns within each emoji family.', 'Now, try to make k = 4.', 'What is the difference between grouping wines into 2 families and 4 families?'],
            'Step2': ['Explore the four emoji families of wines.', 'What shared facial features does the first family have?', 'What chemical features do those faical features represent?', 'What is the type of wines in the first family?'],
            'Step3': ['What shared facial features does the second family have?', 'What chemical features do those faical features represent?', 'What is the type of wines in the second family?'],
            'Step4': ['What shared facial features does the third family have?', 'What chemical features do those faical features represent?', 'What is the type of wines in the third family?'],
            'Step5': ['What shared facial features does the forth family have?', 'What chemical features do those faical features represent?', 'What is the type of wines in the forth family?'],
            'Step6': ['Click the combination emojis of each emoji family and you can see their average representation, center emoji.', 'Click the compare button to explore the differences between the first and the second emoji family.', 'What are the differentiating facial features and corresponding chemical features?'],
            'Step7': ['Try to compare center emojis from different emoji families.', "What more findings can you get?"]
        };        
    }

</script>
<script src="{{ url_for('static', filename = 'js/mapping_rule.js') }}"></script>
{% endblock %}