{% extends "base.html" %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="mappingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Customize your emoji</h5>
<!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body row"><div class="feature-mapped-area col-md-8 col-xs-8 col-sm-8 col-lg-8"></div><div id = "unmapped-area" class="feature-unmapped-area col-md-4 col-xs-4 col-sm-4 col-lg-4" ondragover = "allowDropFeature(event)" ondrop = "dropFeature(event)"></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary update-mapping refresh" data-dismiss="modal">Save & Close</button>
        <button type="button" class="btn btn-primary update-mapping">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
		<div class="row">
			<div class="col compare-block">
				<div class="compare-canvas" id = "canvas0" ondragover = 'allowDrop(event)' ondrop = 'dropChild(event)' ></div>
				<div class="compare-index"></div>				
			</div>
			<button type="button" class="btn btn-primary add-btn float-left">+</button>			
		</div>
	</div>
	<div id="face-browser" class="col-md-4 col-xs-4 col-sm-4 col-lg-4" style="height: 420px; overflow: scroll;"></div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename = 'js/chernoffface.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/dragdrop_tag.js') }}"></script>
<script>
	// alert("inner script");
	function readpara (para) {
		return para;
	}
	var example_id = readpara( {{ example | safe }} );
	var user_id = readpara( {{ g.user.id | safe }} );
	var dataset_face = readpara( {{ dataset_face | safe }} );
	var getLocalData = localStorage.getItem('localDataset');
	var json_dataset = JSON.parse(getLocalData);
	getLocalData = localStorage.getItem('mappingRule');
	var json_mapping_temp = JSON.parse(getLocalData);
	var datapoint_face = json_dataset[0]; //default datapoint for chernoffface.js
	// var variables = Object.keys(json_dataset[0]);

	var current_id = 0;
	$(document).on("click", "button.close" , function() {
    	var id = $(this).parent(".badge")
    		.clone()
    		.children() //select all the children
    		.remove()   //remove all the children
    		.end()  //again go back to selected element
    		.text();
    	var data_id = parseInt(id) - 1;
    	
    	if (!$("#drag" + data_id).hasClass('hidden')) {
    		var image = $("#drag" + data_id);
	    	$("#drag" + data_id).remove();
	    	image.attr("width", 35);
	    	image.css("opacity", 1);
	    	$("#wrap" + data_id).append(image);
	    	$("#wrap" + data_id).css('opacity', 1);
	    	$("#drag" + data_id).removeClass("overlay");
	    	$("#drag" + data_id).css('z-index', 0);
	    	var canvas_id = $(this).parent(".badge").parent(".compare-index").siblings(".compare-canvas").attr("id");
	    	var x = $("#" + canvas_id).children().length;
	    	if (x!=0) {
	    		$("#" + canvas_id).children("img").css('opacity', 1/x);
	    	}
	    	$(this).parent(".badge").remove();
    	}
	});

	$(".add-btn").click(function () {
		var current_num = $('.compare-block').length;
		var compare_template = $('.compare-block').eq(0).clone();
		compare_template.children(".compare-canvas").children().remove();
		compare_template.children(".compare-index").children().remove();
		compare_template.children(".compare-canvas").attr('id', 'canvas' + current_num);
		// $('.compare-row').append(compare_template);
		$(this).before(compare_template);
	});

	$(".next-btn").click( function() {
		$(this).attr("href", "/cluster?example=" + example);
	});
</script>
<script src="{{ url_for('static', filename = 'js/face_browser.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/center_face.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/mapping_rule.js') }}"></script>
{% endblock %}