{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
		<div class="row">
			<div class="col compare-block">
				<div class="compare-canvas" id = "canvas0" ondragover = 'allowDrop(event)' ondrop = 'dropChild(event)' ></div>
				<div class="compare-index"></div>				
			</div>
			<button type="button" class="btn btn-primary add-btn">+</button>			
		</div>
	</div>
	<div id="face-browser" class="col-md-4 col-xs-4 col-sm-4 col-lg-4" style="height: 420px; overflow: scroll;"></div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename = 'js/chernoffface.js') }}"></script>
<script>
	// alert("inner script");
	function readpara (para) {
		return para;
	}
	var example_id = readpara( {{ example | safe }} );
	var user_id = readpara( {{ g.user.id | safe }} );
	var dataset_face = readpara( {{ dataset_face | safe }} );
	var getLocalData = localStorage.getItem('localDataset');
	var json_dataset = JSON.parse(getLocalData);
	getLocalData = localStorage.getItem('mappingRule');
	var json_mapping = JSON.parse(getLocalData);
	var datapoint_face = json_dataset[0]; //default datapoint for chernoffface.js
	// var variables = Object.keys(json_dataset[0]);

	var current_id = 0;

	function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData('Img', ev.target.id);
        current_id = parseInt(ev.target.id.substr(4)) + 1;
    }
    function dropChild(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData('img');
        var data_element = document.getElementById(data);
        if(typeof(data_element) != 'undefined' && data_element != null) {
	        data_element.width = "100";
	        if (ev.target.className == 'compare-canvas') {
	        	var x = ev.target.childElementCount;
	        	data_element.style.zIndex = x.toString();
	        	ev.target.appendChild(data_element);
	        	var elem = ev.target.nextElementSibling;
	        } else {
	        	var x = ev.target.parentNode.childElementCount;
	        	data_element.style.zIndex = x.toString();
	        	ev.target.after(data_element);
	        	var elem = ev.target.parentNode.nextElementSibling;
	        }

	        var canvas_id = elem.previousElementSibling.id;
	        var canvas_id_val = parseInt(canvas_id.substr(6));
	        // $(".compare-canvas img").css('top', 0 );
	        // $(".compare-canvas img").css('left', 100*canvas_id_val );
	        $(".compare-canvas img").addClass("overlay");
	        
	        $("#" + canvas_id).children("img").css('opacity', 1/(x+1));

	        fade(current_id);
	        addTags(elem, current_id);
        }
    }

    function fade(id) {
    	var data_id = parseInt(id) - 1;
    	$("#wrap" + data_id).css('opacity', 0.4);
    }

    function addTags(elem, face_id) {
    	var id_tag = document.createElement("span");
    	var close = document.createElement("button");
    	id_tag.className = "badge";
    	close.className = "close";
    	var text = document.createTextNode(face_id);
    	var text_close = document.createTextNode("x");
    	close.appendChild(text_close);
    	id_tag.appendChild(text);
    	id_tag.appendChild(close);
    	elem.appendChild(id_tag);
    }

	$(document).on("click", "button.close" , function() {
    	var id = $(this).parent(".badge")
    		.clone()
    		.children() //select all the children
    		.remove()   //remove all the children
    		.end()  //again go back to selected element
    		.text();
    	var data_id = parseInt(id) - 1;
    	
    	if (!$("#drag" + data_id).hasClass('hidden')) {
    		var image = $("#drag" + data_id);
	    	$("#drag" + data_id).remove();
	    	image.attr("width", 35);
	    	image.css("opacity", 1);
	    	$("#wrap" + data_id).append(image);
	    	$("#wrap" + data_id).css('opacity', 1);
	    	$("#drag" + data_id).removeClass("overlay");
	    	$("#drag" + data_id).css('z-index', 0);
	    	var canvas_id = $(this).parent(".badge").parent(".compare-index").siblings(".compare-canvas").attr("id");
	    	var x = $("#" + canvas_id).children().length;
	    	if (x!=0) {
	    		$("#" + canvas_id).children("img").css('opacity', 1/x);
	    	}
	    	$(this).parent(".badge").remove();
    	}
	});

	$(".add-btn").click(function () {
		var current_num = $('.compare-block').length;
		var compare_template = $('.compare-block').eq(0).clone();
		compare_template.children(".compare-canvas").children().remove();
		compare_template.children(".compare-index").children().remove();
		compare_template.children(".compare-canvas").attr('id', 'canvas' + current_num);
		// $('.compare-row').append(compare_template);
		$(this).before(compare_template);
	});

</script>
<script src="{{ url_for('static', filename = 'js/face_browser.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/center_face.js') }}"></script>
{% endblock %}