{% extends "base.html" %}

{% block content %}
<h1>
    Welcome User {{g.user.id | safe}}!
</h1>
<form action="/intro?example" method="GET" name="form">
    <p>
        <label>
            <input id = "example2-selection-button" class = "clickable-element" name="example" type="radio" value='2' />
            <span>Understand Dynamic Ecological and Climate Systems</span>
        </label>
    </p>
    <p>
        <label>
            <input id = "example1-selection-button" class = "clickable-element" name="example" type="radio" value='1' required/>
            <span>Wine Chemistry</span>
        </label>
    </p>
    <p>
        <label>
            <input id = "example3-selection-button" class = "clickable-element" name="example" type="radio" value='3' />
            <span>Breast Cancer Diagnosis</span>
        </label>
    </p>
    <button type="submit" class = "clickable-element btn btn-outline-success" id="example-selection-submit-button">SUBMIT</button>
</form>
{% endblock %}

{% block script %}
<!-- <script src="{{ url_for('static', filename = 'js/index.js') }}"></script> -->
<script type="text/javascript">
    // alert("inner js");
    localStorage.clear();
    
</script>
{% endblock %}