{% extends "base.html" %}

{% block content %}
<h1>
    Welcome User {{g.user.id}}!
</h1>
<form action="/intro?example" method="GET">
    <p>
        <label>
            <input name="example" type="radio" value='1' checked />
            <span>Wine Quality Dataset</span>
        </label>
    </p>
    <p>
        <label>
            <input name="example" type="radio" value='2' />
            <span>Beetle Dataset</span>
        </label>
    </p>
    <p>
        <label>
            <input name="example" type="radio" value='3' />
            <span>Breast Cancer Dataset</span>
        </label>
    </p>
    <button type="submit" id="example-selection">SUBMIT</button>
</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
    localStorage.clear();
</script>
{% endblock %}