{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename = 'img/example' + example + '/intro.jpg') }}" width="50%">
<div id="test"></div>
<div id="test2"></div>
<a class="btn btn-primary" role="button">Next</a>
{% endblock %}

{% block script %}
<script>
	var dataset = {{ json_data|tojson }};
	var full_json_dataset = JSON.parse(dataset);
	var json_dataset = full_json_dataset.records.slice(0, 210)
	var variables = Object.keys(json_dataset[0]);
	var str_dataset = JSON.stringify(json_dataset);
	localStorage.setItem('localDataset', str_dataset);

	var json_mapping = {};
	var facial_feature = ["er", "bs", "bl", "bv", "ms", "mv", "mc"];

	for (i = 0; i < variables.length; i++) {
		if (i < facial_feature.length) {
			json_mapping[variables[i]] = facial_feature[i];
		} else {
			json_mapping[variables[i]] = "0";
		}
	}
	var str_mapping = JSON.stringify(json_mapping);
	localStorage.setItem('mappingRule', str_mapping);

	var example = {{ example }};
	$(".btn").click( function() {
		$(this).attr("href", "/var?example=" + example);
	});
</script>
{% endblock %}
