{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="intro-image col-6">
        <img src="{{ url_for('static', filename = 'img/example' + example + '/intro1.jpg') }}" width="100%">
        <div class="centered">Oak Ridge field site (ORNL)</div>
    </div>
    <div class="intro-image col-6">
        <img src="{{ url_for('static', filename = 'img/example' + example + '/intro2.jpg') }}" width="100%">
        <div class="centered">Toolik field site (TOOL)</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card border-light">
            {% if example == '2' %}
            <div class="card-body">
                <p>Oak Ridge field site (ORNL) locates in Tennessee. Its dominant NLCD (National Land Cover Database) classes include Deciduous Forest, Evergreen Forest and Pasture/Hay. Toolik field site (TOOL) located in Alaska is mainly Evergreen Forest, Shrub/Shrub and Woody Wetlands.</p>
            </div>
            {% elif example == '3' %}
            <div class="card-body">
                <p>How to diagnose breast cancer based on the digitized image of cells? Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass. They describe characteristics of the cell nuclei present in the image.</p>
                <p>What features do you think can be useful for breast tumor diagnosis?</p>
            </div>            
            {% else %}
            <div class="card-header">The Chemistry of Wine: Fermentation</div>
            <div class="card-body">
                <p class="card-text">There are two basic ingredients needed to ferment the juice of grapes into wine: sugar and yeast. Sugar level increases as the grapes ripen on the vine.</p>
                <p class="card-text">The second ingredient needed for fermentation, yeast, consumes the sugar in the must, and as a byproduct, it releases three components: ethanol, CO2, and heat. The CO2 and heat escape, and the ethanol remains. The natural yeast dies off when grape juice reaches 4 to 5 percent alcohol by volume, before fermentation is complete. Then the winemaker adds an anaerobic cultured yeast in order to ferment the must completely.</p>
                <p class="card-text">Following fermentation, the winemaker will store the wine in various vessels. During that period, harsh acids in the wine convert into softer, more palatable acids.</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-6">
        <div class="card border-light answer-box" width = "100%">
            <form class="user-answer" id = "intro-question">
                <label for="message-text" class="col-form-label card-body">
                    {% if example == '2' %}
                    ORNL has much higher beetle richness and small mammal richness than TOOL. What other ecological differences between these two filed sites can you observe from the images?
                    {% elif example == '3' %}
                    What features do you think can be useful for breast tumor diagnosis?
                    {% else %}
                    Do you know the common chemical factors are related to wine chemistry?
                    {% endif %}
                </label>
                <div class="row">
                    <div class="col-8"><textarea class="form-control" id="user_input" rows="3" type="text" name="user_input"></textarea></div>
                    <div class="col-4"><button type="submit" class="btn btn-outline-success btn-sm" >Submit</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename = 'js/mapping_rule.js') }}"></script>
<script>
	function readpara (para) {
		return para;
	}
	var json_object = readpara( {{ json_data | tojson | safe }} );
	var json_dataset = JSON.parse(json_object).records;
	var dataset_face = readpara( {{ dataset_face | safe }} );
	// var example = readpara( {{ example }} );
	console.log(json_dataset.length);
	var variables = Object.keys(json_dataset[0]);

	//note: what are needed for most pages: json_dataset, dataset_face(in case some original variables are not numeric), json_mapping, example index
</script>
{% endblock %}
