{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename = 'img/example' + example + '/intro.jpg') }}" width="50%">
<div id="test"></div>
<div id="test2"></div>
<a class="btn btn-primary" role="button">Next</a>
{% endblock %}

{% block script %}
<script>
	function readpara (para) {
		return para;
	}
	var dataset = readpara( {{ json_data | tojson | safe }} );
	var dataset_face = readpara( {{ dataset_face | safe }} );
	var full_json_dataset = JSON.parse(dataset);
	// var json_dataset = full_json_dataset.records.slice(0, 210)
	var json_dataset = full_json_dataset.records;
	console.log(json_dataset.length);
	var variables = Object.keys(json_dataset[0]);
	var str_dataset = JSON.stringify(json_dataset);
	localStorage.setItem('localDataset', str_dataset);

	var example = readpara( {{ example }} );
	$(".btn").click( function() {
		$(this).attr("href", "/var?example=" + example);
	});

    //default mapping rule
    var data_id = 0;
    var datapoint_face = dataset_face[data_id];
    var json_mapping = {};
    var variables_face = Object.keys(datapoint_face);
    var facial_feature = ["er", "bs", "bl", "bv", "ms", "mv", "mc"];
    for (i = 0; i < variables_face.length; i++) {
        if (i < facial_feature.length) {
            json_mapping[variables_face[i]] = facial_feature[i];
        } else {
            json_mapping[variables_face[i]] = "0";
        }
    }
    var str_mapping = JSON.stringify(json_mapping);
    localStorage.setItem('mappingRule', str_mapping);
</script>
{% endblock %}
