{% extends "base.html" %}

{% block content %}
<div id="stem"></div>

{% endblock %}

{% block script %}
<script>
	function readpara (para) {
		return para;
	}
	var stem_content = [];
	var q_num = 0;
	if (example == 1) {
	} else if (example == 2) {
		stem_content = [
			{
				"pic": 'static/img/example' + example + '/stem1.jpg',
				'Site Name': "Mountain Lake Biological Station (MLBS)",
				"Dominant NLCD (National Land Cover Database) classes": "Deciduous Forest",
				'Representative of the field sites': 'High species richness. High annual precipitation. Moderate temperature. High canopy height. Low latitude.'
			},
			{
				"pic": 'static/img/example' + example + '/stem2.jpg',
				'Site Name': "Healy - HEAL, Alaska",
				"Dominant NLCD (National Land Cover Database) classes": "Dwarf Scrub, Evergreen Forest, Shrub/Shrub",
				'Representative of the field sites': 'Low species richness. Low annual precipitation. Low temperature. Low canopy height. High latitude.'
			},
			{
				"pic": 'static/img/example' + example + '/stem3.jpg',
				'Site Name': "Smithsonian Environmental Research Center - SERC, Middle Atlantic Domain",
				"Dominant NLCD (National Land Cover Database) classes": "Cultivated Crops, Deciduous Forest",
				'Representative of the field sites': 'Low beetle richness. Medium small mammal richness. High annual precipitation. Low annual temperature. High canopy height. High latitude.'
			},
			{
				"pic": 'static/img/example' + example + '/stem4.jpg',
				'Site Name': "Onaqui (ONAQ), Salt Lake City area",
				"Dominant NLCD (National Land Cover Database) classes": "Evergreen Forest, Shrub/Shrub",
				'Representative of the field sites': 'Low beetle richness. Medium small mammal richness. Medium annual precipitation. Low annual temperature. Low canopy height.'
			}
		];
	}

	for (var i in stem_content) {
		var keys = Object.keys(stem_content[i]);
		var new_line = $('<div class = "row stem-item" ><img src = "' + stem_content[i]['pic'] + '" width = "100%" class = "col-6"><div class = "col-6"><p>' + keys[1] + ': ' + stem_content[i][keys[1]] + '</p><p>' + keys[2] + ': ' + stem_content[i][keys[2]] + '</p><p>' + keys[3] + ': ' + stem_content[i][keys[3]] + '</p></div></div>');
		$('#stem').append(new_line);
	}

</script>
{% endblock %}