{% extends "base.html" %}

{% block content %}
<div id="variables"></div>
<button type="button" class="btn btn-outline-success next-btn" data-toggle="modal" data-target="#qa" style="position: fixed; bottom: 50px; right: 50px;" >Next</button>

<div class="modal fade" id="qa" tabindex="-1" role="dialog" aria-labelledby="qaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qaLabel">Brainstorming</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="var-question" class="user-answer">
            <label for="message-text" class="col-form-label">
                {% if example == '2' %}
                How do you think these factors may influence each other?
                {% else %}
                How do you think the chemical factors may influence each other? And how are they related to the quality of a wine?
                {% endif %}
            </label>
            <textarea class="form-control" id="user_input" rows="3" type="text" name="user_input"></textarea>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
	function readpara (para) {
		return para;
	}
	var json_object = readpara( {{ json_data | tojson | safe }} );
	var json_dataset = JSON.parse(json_object).records;
	var dataset_face = readpara( {{ dataset_face | safe }} );
	var variables = Object.keys(json_dataset[0]);
	var variables_content = "";
	var var_explain = {};
	var q_num = 0;
	if (example == 1) {
		var_explain = {
			// alcohol -> volatile acidity -> free sulfur dioxide -> fixed acidity -> total sulfur dioxide -> residual sugar -> density -> ph
			"alcohol": ["Alcohol by volume", "Alcohol by volume, or ABV, is the amount of ethanol in a given volume of liquid, expressed as a percentage."],
			"volatile_acidity": ["Volatile acidity", "Volatile acidity refers to the steam distillable acids present in wine, primarily acetic acid."],
			"free_sulfur_dioxide": ["Free sulfur dioxide", "Free sulfur dioxide is a measure of the amount of SO2 that is not bound to other molecules. Sulfur Dioxide is used throughout all stages of the winemaking process to prevent oxidation and microbial growth."],
			"fixed_acidity": ["Fixed acidity", "The predominant fixed acids found in wines are tartaric, malic, citric, and succinic. Their respective levels found in wine can vary greatly."],
			"total_sulfur_dioxide": ["Total sulfur dioxide", "Total Sulfur Dioxide is the portion of SO2 that is free in the wine plus the portion that is bound to other chemicals in the wine such as aldehydes, pigments, or sugars."],
			"residual_sugar": ["Residual sugar", "Residual Sugar is from natural grape sugars leftover in a wine after the alcoholic fermentation finishes."],
			"density": ["Density", "Density is an important measurement in wine making. It is defined as mass per volume. When we take a deeper look at the components of wine, the main constituents affecting the density are alcohol, sugar, glycerol, and other dissolved solids."],
			"pH": ["pH", "Winemakers use pH as a way to measure ripeness in relation to acidity. Low pH wines will taste tart and crisp, while higher pH wines are more susceptible to bacterial growth."],
			// "chlorides": ["Chlorides",],
			// "sulphates": ["Sulphates",],
			// "citric_acid": ["Citric acid",],						
			"quality": ["Quality", "Quality level based on the sensory data"]
		};
	} else if (example == 2) {
		var_explain = {
			"id": ["Field site ID", "The abbreviation of the field site's name."],
			"Small_Mammal_Richness": ["Small Mammal Richness", "The number of species of small mammals collected from traps in a month"],
			"Beetles_Richness": ["Beetles Richness","The number of species of beetles collected from traps in a month."],
			"Mean_Ann_Precip_mm": ["Mean Annual Precipitation (mm)" ,"The average amount of annual precipitation."],
			"Mean_Canopy_Height_m": ["Mean Canopy Height", "Mean canopy height consists of the mean height of all canopy surface points."],
			"Mean_Temp_degC": ["Mean Temperature (degree Celsius)","The average temperature."],
			"Elevation_m": ["Elevation (m)" ,"The Elevation of the terrain surface."],
			"Longitude": ["Longitude"],
			"Latitude": ["Latitude"]
		};
	}

	for (key in var_explain) {
		var new_line = $('<div><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="' + var_explain[key][1] + '">' + var_explain[key][0] + '</button>(' + key + ')</div>');
		$('#variables').append(new_line);
	}

</script>
<script src="{{ url_for('static', filename = 'js/mapping_rule.js') }}"></script>
{% endblock %}