{% extends "base.html" %}

{% block content %}
<div id="variables"></div>
{% endblock %}

{% block script %}
<script>
	function readpara (para) {
		return para;
	}
	var json_object = readpara( {{ json_data | tojson | safe }} );
	var json_dataset = JSON.parse(json_object).records;
	var variables = Object.keys(json_dataset[0]);
	var variables_content = "";
	for (i=0; i<variables.length; i++) {
		variables_content += "<div>" + variables[i] + "</div>";
	}
	document.getElementById("variables").innerHTML = variables_content;
</script>
{% endblock %}